<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">king_bed</i>
                        </div>
                        <p class="card-category">Ocupadas</p>
                        <h3 class="card-title">10/20</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons ">group_add</i>
                            <a routerLink="/dashboard/habitacion/ingresar-huesped" >Ingresar huesped</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Caja</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Ultimas 24 Horas
                        </div>
                    </div>
                </div>
            </div>
            <!--
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          -->
        </div>
        <!--
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
    -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-header-lime">
                        <h4 class="card-title">Habitaciones desocupadas</h4>
                        <p class="card-category">Las siguientes habitaciones se pueden seleccionar inmediatamente</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-lime">
                                <th>#</th>
                                <th>Camas</th>
                                <th>Aire</th>
                                <th>Ver</th>
                                <th>Usar</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>201</td>
                                    <td>1 - 1.40mts</td>
                                    <td>
                                        <i class="material-icons">check_circle</i>
                                    </td>
                                    <td>
                                        <i class="material-icons">preview</i>
                                    </td>
                                    <td>
                                        <i class="material-icons">input</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>301</td>
                                    <td>1 - 1.40mts</td>
                                    <td>
                                        <i class="material-icons">radio_button_unchecked</i>
                                    </td>
                                    <td>
                                        <i class="material-icons">preview</i>
                                    </td>
                                    <td>
                                        <i class="material-icons">input</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>